.crypto-card {
  border: 1px solid #6e6e6e;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width: 80%;
  height: 50px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
.crypto-card img {
  height: 100%;
}
.crypto-card span {
  width: 300px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3px;
  text-align: left;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 820px;
  padding: 5px;
  font-size: 40px;
}
.search input {
  padding: 15px;
  width: 85%;
  height: 5px;
  margin: 5px;
  background-color: #101010;
  border: 1px solid rgb(155, 155, 155);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}
.color-red {
  color: red;
}
.color-green {
  color: rgb(0, 247, 0);
}

@media (max-width: 850px) {
  .crypto-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .crypto-card img {
    height: 100px;
  }
  .search {
    width: 90%;
  }
}
