.container-marketplace {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards-marketplace {
  display: flex;
  justify-content: center;
}

@media (max-width: 1150px) {
  .cards-marketplace {
    display: grid;
  }
}
